.calendar-container,
.calendar,
.calendar-header,
td,
tr {
    padding: 0;
    margin: 0;
}

.calendar-container {
    border: 5px solid #f1b300;
    margin: auto;
}

.calendar {
    background-color: white;
    border-spacing: 0;
    border-collapse: collapse;
    width: 100%;
}

.calendar-header {
    border-bottom: 3px solid #f1b300;
    font-size: 1.5em;
    text-align: center;
}

.calendar-header td {
    border-spacing: 0;
    padding-left: 50px;
}

.day,
.empty-slot,
.week-day {
    text-align: center;
    height: 28px;
}

.week-day {
    font-size: 0.8em;
}

.day {
    font-size: 0.8em;
}

.day {
    cursor: pointer;
    width: 28px;
    height: 28px;
    line-height: 28px;
}

.current-day {
    background-color: #f1b300;
    width: 28px;
    height: 28px;
    line-height: 28px;
    border-radius: 2%;
    color: #ffffff;
}
.selected-day {
    background-color:#808080
    ;
    width: 28px;
    height: 28px;
    line-height: 28px;
    border-radius: 2%;
    color: black;
}

.month-popup {
    position: absolute;
    padding: 5px;
    background: white;
    border: 2px solid #f1b300;
}

.month-popup div {
    padding: 0.3em;
}

.nav-month {
    position: absolute;
    top: 0.6em;
    font-size: 0.6em;
    right:3px;
}

.prev {
}

.next {
}

.editor-year {
    max-width: 3.6em;
}

.label-month,
.label-year {
    font-size: 0.6em;
}

.label-month {
    cursor: pointer;
}
